*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.topNav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 0 15px;
}

.topNav h2{ 
    /*NOMBRE PERFIL*/
    color: rgb(252, 171, 171);
}
.topNav .menuIcon i{
    /*menu 3 rayitas*/
    color: #fff;
    font-size: 30px;
}
.topNav .socialLinks i{
    /*COLORES DE ICONOS DE REDES*/
    color: #fff;
    margin: 0 5px;
    text-decoration: none;
}
/*--MODULOS MENU-*/
.topNav .navBar{
    list-style-type: none;
    position: absolute;
    width: 100%;
    top:80px;
    background-color: rgb(49, 50, 61);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transform:  0.5s;
    z-index: 9999;
    display:none;
}
 hr{
    background-color: #ec2424;
 }
.topNav .navBar li{
    padding:  8px 0;
    border-bottom: 1px solid wheat;
    margin-bottom: 10px;
}

.topNav .nav li:last-child{
    border: 0;

}
.topNav .navBar li a{
    color: #fff;
}
/*BARRA LATERAL*/

@media (min-width: 900px) {
    .navBar{
        display: none;
    }
    .topNav{
        display: none;
    }
}
.header{
    /*FONDO PAGINA*/
    background: url("../img/tec0.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    
}


.wrapper{
    position: relative;
    display: flex;
    justify-content: space-around;

}
.slideBar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 260px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.slideBar .profile{
    display:  flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.slideBar .profile img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid #fff;
    object-fit: contain;
    box-sizing: 5px 7px 15px rgba (0,0,0,0.2);
}
.slideBar .profile img:hover{ 
    border: 5px solid  #faa8fa;
    border-style: dashed;
}



.slideBar h2{
    padding: 2px;
    color: #ffffff;
    font-size: 24px;}

.slideBar hr{
    width: 200px;}

.slideBar ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
}
.slideBar ul li{
    margin: 7px 0;
}
.slideBar ul li a{
    /*ELEMENTOS DE LA  BARRA EN PERFIL*/
    color: #ffffff;
    transition: 0.5s;
    position: relative;
    padding-bottom: 3px;
}

.slideBar .nav a:after{
    
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: goldenrod;
    transition: 0.5s;

}

.slideBar .nav a:hover:after{
    align-items: center;
    width: 120%;
}

.slideBar .social i{
    color: #929292;
    margin: 5px;
    transition: 0.5s;
    font-size: 25PX;
}
/*ICONOS SOCIALES EN BARRA DE PERFIL*/
.slideBar .social i:hover{
    color:  goldenrod;
    margin: 5px;
    transform: scale(1.5);
    transform-box: rotate(360deg);
    
}

/*contenedor en HERO*/
.hero-content{
    margin-left: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #111;
    max-width: 700px;
    min-height: 80vh;
}

/*CONFIGUTACION DE TEXTO EN HERO*/
.hero-content h4{
    font-size: 24px;
    font-weight: 400;
}

.hero-content h1{
    font-size: 3.5rem;
    margin: 28px;
}

/*BOTON EN HERO*/
.hero-content .boton{
    color: #ffffff;
    background-color: #111;
    border: 4px solid goldenrod;
    border-radius: 30px;
    padding: 12px 35px;
    margin: 40px 0;
    transition: 0.5s;
}
/*CAMBIOS EN BOTON*/
.hero-content .boton:hover{
    color: rgb(0, 0, 0);
    background-color: goldenrod;
    border: 4px solid goldenrod;
    border-radius: 30px;
    padding: 12px 35px;
    margin: 40px 0;
    transition: 0.5s;
}

/*DISEÑO RESPONSIVO*/

@media(max-width: 900){

}







